body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:  #f2e5dc;
    color: #5a3e36;
}

header {
    font-family:'Times New Roman', Times, serif;
    background: #f7c6d9;;
    padding: 20px;
    text-align: center;
    position:sticky;
    top: 0;
} 

header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin-top: 10px;
}

nav a {
    color: #5a3e36;
    font-weight: bold;
}

nav a:hover {
    color: #a67c73;
    text-decoration: underline;
}

.secao {
    padding: 40px 20px;
    background: #ffffff;
    margin: 20px auto;
    width: 85%;
    border-radius: 10px;
}

.sobre-container {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    gap: 30px;
    align-items: center;
}

.sobre-container img {
    width: 200px;
    border-radius: 100px;
    border: 3px #f7c6d9;
}

#projetos ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    padding: 0;
}

#projetos li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
}

#projetos a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #5a3e36;
    font-weight: bold;
}

#projetos a:hover {
    color: #f7c6d9;;
}

table {
    width: 100%;

}

table th, table td {
    padding: 10px;
    border: 1px solid #a67c73;
    text-align: center;
}

table th {
    background: #ffe9f2;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, button {
    padding: 10px;
    border-radius: 5px;
}

button {
    background: #f7c6d9;;
    color: #5a3e36;
    font-weight: bold;
}

button:hover {
    background: #5a3e36;
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f7c6d9;;
    margin-top: 40px;
}